<% def new_input(*label_name) %>
  <% label_name.each do |name| %>
    <label for="<%= name %>"><%= name %></label>
    <input type="text" name="<%= name %>" id="<%= name %>" class="fancy_form" >
  <% end %>
<% end %>


<% new_input("email", "username", "pin", "website", "address", "alias") %>